services:
  app:
    build: ./tasks/docker
    container_name: phungeon
    environment:
      PHP_IDE_CONFIG: "serverName=phungeon"
    volumes:
      - ".:/app"
    command: "/usr/sbin/php-fpm8.4 -R"
    networks:
        - default




networks:
  default: ~

volumes:
  certs:
    driver: local
  db:
    driver: local

